@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&family=Bree+Serif&family=Patua+One&family=Rampart+One&family=Tilt+Warp&display=swap');

*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom:2px solid #e58df7;
    box-shadow: 2px 2px 6px grey;
    /* background-image: url(./purplebg.jpg); */
    background-color: #91bafd;
    position: sticky;
  padding: 10px 5px;
/*     height: 10vh; */

}
nav .leftContainer h2{
    font-size: 20px;
    font-family: 'Rampart One', cursive;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
}
nav .rightContainer ul{
    display: flex;
    list-style: none;
  flex-wrap: wrap;
}
nav .rightContainer ul li{
    margin: 2px 31px;
}
nav .rightContainer ul li a{
    text-decoration: none;
    color: black;
    font-family: 'Bree Serif', serif;
    font-size: 18px;
}
nav .rightContainer ul li a:hover{
    text-decoration: underline;
}

.MainContainer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(./purplebg.jpg);
  background-repeat: no-repeat;
      background-size: cover;
    height: 680px;
    /* background-image: #e993fa; */
}
.MainContainer .photo img{
    height: 255px;
}

.MainContainer .content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content button{
    padding: 3px;
    margin: 8px 15px;
}

.content h1{
    font-family: 'Patua One', cursive;
}
.content h1 b{
    color: #e45cff;
    text-shadow: 2px 2px black;
}

.content p{
    font-family: 'Bree Serif', serif;

}
.content button{
    
        padding: 5px;
        background-color: #e993fa;
        border: 2px solid grey;
        border-radius: 7px;
        /* color: white; */
        font-family: 'Patua One', cursive;
}

.me{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    width: 100%;
    justify-content: center;
}

.aboutme{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    background-color: #d68fe4;
}
.aboutme> h1{
    font-family: 'Tilt Warp', cursive;
    text-shadow: 2px 2px grey;
    /* text-decoration: underline; */
}

.aboutme .aboutmeImage img{
    height: 190px;
}
.aboutme .aboutmeImage{
    margin: 20px;
}
.aboutme .aboutme_content{
    /* border: 2px solid red; */
    width: 560px;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
}
.aboutme .aboutme_content p{
    padding: 10px;
}

.myskills{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 15px;
    background-color: #f7e8fc;
}

.myskills h1{
    margin: auto;
    font-family: 'Tilt Warp', cursive;
    text-shadow: 2px 2px grey;
}

.skill{
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    padding: 10px;
}

.skill  ul{
    display: flex;
    justify-content: space-around;
    margin: 23px 0px;
    flex-wrap: wrap;
}

.skill ul li{
display: flex;
padding: 8px;
background-color: #f3efba;
box-shadow: 2px 2px 2px rgb(209, 203, 203);
margin: 5px 3px;
}
.skill ul li img{
    height: 34px;
}
.skill ul li h2{
    font-family: 'Patua One', cursive;
    text-shadow: 1px 2px grey;
}

.footer{
    padding: 8px;
     background-color: #d68fe4;;
}

.footer h1{
    margin: auto;
    width: 167px;
    font-family: 'Bree Serif', serif;
}

.footer .cont{
    padding: 15px;
}
.footer .cont ul li{
    /* display: flex; */
    display: flex;
    align-items: center;
    background-color: rgb(243, 240, 203);
    flex-direction: column;
    padding: 30px 90px;
    box-shadow: 2px 2px 2px black;
}
.footer .cont ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.footer .cont ul  li img{
    height: 40px;
  
}
.footer .cont ul  li h2 a{
    text-decoration: none;
    color: black;
  
}
